body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  background: #1FAD9F;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 73%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/* 3， 轮播图*/
            .gua-slide {
                position: relative;
            }
            .gua-slide-image {
                display: none;
                width: 100%;
            }
            /*.gua-slide-image*/
            .gua-active {
                display: inline-block;;
            }
            .gua-slide-button {
                right: 0;
                height: 50px;

            }
            .previous  {
                  left: 0;
              }
            .gua-vertical-center {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .gua-slide-indicators {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
            .gua-slide-indi {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: red;
            }
            .gua-white {
                background: white;
            }
